html {
    background-color: rgb(20, 14, 29);
    background-repeat: repeat;
    background-size: 40%;
}

body {
    background-color: white;
    margin: 58px auto;
    text-align: center;
    font: 24px Consolas bold;
    font-family: Trebuchet MS;
}

#line {
    display: inline-block;
}
#teaching {
    height: 375px;
}
.update{
    position:absolute;
    left:50px;
    top:560px;
    width: 350px;
}
.delete{
    position:absolute;
    left:50px;
    top:625px;
    width: 350px;
}
.detailed{
    width: 280px;
}

#management {
    margin-top: 30px;
}

.create-course{
    width: 100%;
}

form{
    margin-bottom: 5px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}
.updatediv{
    position:absolute;
    left:50px;
    top:560px;
    width: 350px;
}

.deletediv{
    position:absolute;
    left:50px;
    top:630px;
    width: 350px;
}
.detaileddiv{
    position:absolute;
    left:50px;
    top:700px;
    width: 350px;
}

.button-teach input[type=submit]{
    width: 100%;
}

.detailed, .update, .delete, .create-course, .button-teach input[type=submit] {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    will-change: transform;
}

.detailed:disabled, .update:disabled, .delete:disabled, .create-course:disabled, .button-teach input[type=submit]:disabled {
    pointer-events: none;
}

.detailed:hover, .update:hover, .delete:hover, create-course:hover, .button-teach input[type=submit]:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.detailed:active, .update:active, .delete:active, create-course:active, .button-teach input[type=submit]:active {
    box-shadow: none;
    transform: translateY(0);
}

.teach {
    color:#00c6ff;
    padding: 10px 20px;
    width: 200px;
    text-decoration:none;
    text-align:center;
    margin:20px auto;
    display: block;
    background-image: linear-gradient(to left,transparent,transparent 50%,#00c6ff 50%,#00c6ff);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    font: 400 18px tahoma;
    border: 1px solid #00C6FF;
}

.teach:hover {
    background-position: 0 0;
    color:#fff;
}

nav {
    top: 5vh;
    font-size: 1.5em;
    position: absolute;
    width: 100%;
    margin-top: 15px;
    font-size: 1.2em;
    left: 0;
    height: 70px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    transition: all 0.5s ease-in-out;
}

nav a {
    text-decoration: none;
    color: white;
    transition: all 0.5s ease-in-out;
}

nav a:hover {
    color: red;
}

nav ul li:hover {
    border-bottom: 5px solid red;
}

.show{
    width: 50%;
    display: inline-block;
    padding: 2%;
    margin-left: 30%;
    position:relative;
}

.edit{
    padding: 2%;
}
#edit img {
    width: 350px;
    height: 350px;
    position:absolute;
    left: 50px;
    top:200px;
}
.form-signin-heading{
    width: 50%;
    display: inline-block;
    text-align: center;
    position:relative;
    font-size: unset;
}

#course{
    width: 76%;
    display: inline-block;
    padding: 2%;
}

#main, #show{
    width: 90%;
    display: inline-block;
    padding: 2%;
}

footer {
    width: 100%;
    height: 10%;
    float: left;
    margin-top: 10px;
    color: white;
    font-size: 18px;
    text-align: center;
    text-indent: 10px;
}

.left{
    height: 200px;
    float: left;
}
.center{
    height: 200px;

}
.right{
    height: 200px;
    float: right;
}
.help {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    padding: 2%;
    /*color: white;*/
}

.container section {
    display: inline-flex;
    width: 28%;
}

#center {
    width: 260px;
}

#left {
    float: left;
    width: 260px;
}

#right {
    float: right;
    width: 400px;
}

article {
    width: 80%;
    padding: 1%;
    color: white;
    margin: 10px auto;
}

#container, .container {
    margin-top: 20vh;
    margin-bottom: 50px;
}


#course img {
    width: 280px;
    height: 280px;
    border-radius: 150px;
}

#main img {
    border-radius: 10px;
}

#show img {
    width: 350px;
    height: 350px;
    position:absolute;
    left:50px;
    top:200px;
}

.not-teach input[type=submit] {
    padding:15px 19px;
    background: #1ce562;
    border:0 none;
    cursor:pointer;
    border-radius: 10px;
    position:absolute;
    left:50px;
    top:560px;
    width: 350px;
    font-size: 20px;
    font-family: unset;
    color: white;
}


input[type=text], input[type=password], input[type=date]{
    padding:10px;
    border-radius:10px;
    width: 250px;
    margin-top: 5px;
}

#course p {
    font-size: 20px;
}

#free {
    color: green;
}

#money{
    color: blue;
}

.sell {
    background-color: rgb(235, 209, 199);
    margin-top: 30px;
    height: 0;
    color: black;
}

#about p {
    font-size: 20px;
    text-align: justify;
}



#course h4 {
    color: black;
}


h2 {
    color: white;
    font-family: 'Lucida Console';
}
.search{
    box-sizing: border-box;
    width: 30%;
    margin-bottom: 16px;
    padding: 8px 16px;
    transition: transform 0.3s ease-out;
    color: #2a43a5;
    border-radius: 8px;
    background-color: #fff;
    font-size: 1em;
}

#black{
    background-color: rgb(20, 14, 29);
    background-repeat: repeat;
    background-size: 40%;
}

#show h2{
    text-align: left;
    color: black;
}

#show h4{
    text-align: left;
}

#auth h4{
    color: black;
}

#description{
    text-align: justify;
    font-family: Arial;
    font-size: 20px;
}

progress {
    border:0;
    width: 300px;
    height: 20px;
    border-radius: 5px;
    background: #f1f1f1;
}
progress::-webkit-progress-bar {
    width: 300px;
    height: 20px;
    border-radius: 5px;
    background: #f1f1f1;
}
progress::-webkit-progress-value {
    border-radius: 5px;
    background: #1ce562;
}
progress::-moz-progress-bar {
    border-radius: 5px;
    background: #1ce562;
}

.col-3 {
    width: 280px; /* Можно задать любую другую ширину блока */
    margin: .5rem;
    justify-content: center; align-items: center
}

.row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}
.modal{
    padding: 50px;
    background: #ccc;
    position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/*option {
    padding-bottom: 200px;
}

option:hover {
    background-color: rgb(237, 231, 255);
}

.ava1 {
    background: url('../img/c1.jpeg');
    background-size: 200px;
    padding-left: 200px;
}

.ava2 {
    background: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/fad0ae71303931.5bc07e548de8f.png') no-repeat;
    background-size: 200px;
    padding-left: 200px;
}

.ava3 {
    background: url('https://i.yapx.ru/CeBRo.jpg') no-repeat;
    background-size: 200px;
    padding-left: 200px;
}

.ava4 {
    background: url('https://i1.sndcdn.com/avatars-000633092163-lp76h1-t500x500.jpg') no-repeat;
    background-size: 200px;
    padding-left: 200px;
}

.ava5 {
    background: url('https://i1.sndcdn.com/avatars-000048517617-ovyexv-t500x500.jpg') no-repeat;
    background-size: 200px;
    padding-left: 200px;
}

.ava6 {
    background: url('https://i1.sndcdn.com/artworks-BXy0I9747uayEyIS-hKPiYA-t500x500.jpg') no-repeat;
    background-size: 200px;
    padding-left: 200px;
}

.ava7 {
    background: url('https://i1.sndcdn.com/artworks-i2pR3tJ52Xy5hjXf-QDJekg-t500x500.jpg') no-repeat;
    background-size: 200px;
    padding-left: 200px;
}

.ava8 {
    background: url('https://i1.sndcdn.com/artworks-4QMFLyKyJCzhY9QU-R0yyhA-t500x500.jpg') no-repeat;
    background-size: 200px;
    padding-left: 200px;
}

.ava9 {
    background: url('https://i1.sndcdn.com/avatars-000455481750-xgq8dd-t500x500.jpg') no-repeat;
    background-size: 200px;
    padding-left: 200px;
}

select {
    width: 200px;
    height: 210px;
}*/
