html {
    background-color: rgb(20, 14, 29);
    background-repeat: repeat;
    background-size: 40%;
}

body {
    background-color: white;
    margin: 58px auto;
    text-align: center;
    font: 24px Consolas bold;
    font-family: Trebuchet MS;
}

#line {
    display: inline-block;
}
#teaching {
    height: 375px;
}
.update{
    position:absolute;
    left:50px;
    top:560px;
    width: 350px;
}
.detailed{
    width: 100%;
}

.detailed, .update {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    will-change: transform;
}

.detailed:disabled, .update:disabled {
    pointer-events: none;
}

.detailed:hover, .update:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.detailed:active, .update:active {
    box-shadow: none;
    transform: translateY(0);
}

.teach {
    color:#00c6ff;
    padding: 10px 20px;
    width: 200px;
    text-decoration:none;
    text-align:center;
    margin:20px auto;
    display: block;
    background-image: linear-gradient(to left,transparent,transparent 50%,#00c6ff 50%,#00c6ff);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    font: 400 18px tahoma;
    border: 1px solid #00C6FF;
}

.teach:hover {
    background-position: 0 0;
    color:#fff;
}

nav {
    top: 5vh;
    font-size: 1.5em;
    position: absolute;
    width: 100%;
    margin-top: 15px;
    font-size: 1.2em;
    left: 0;
    height: 70px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    transition: all 0.5s ease-in-out;
}

nav a {
    text-decoration: none;
    color: white;
    transition: all 0.5s ease-in-out;
}

nav a:hover {
    color: red;
}

nav ul li:hover {
    border-bottom: 5px solid red;
}

.show{
    width: 50%;
    display: inline-block;
    padding: 2%;
    margin-left: 30%;
    position:relative;
}

#course{
    width: 76%;
    display: inline-block;
    padding: 2%;
}

#main{
    width: 90%;
    display: inline-block;
    padding: 2%;
}

footer {
    width: 100%;
    height: 10%;
    float: left;
    margin-top: 10px;
    color: white;
    font-size: 18px;
    text-align: center;
    text-indent: 10px;
}

section {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding: 2%;
    /*color: white;*/
}

.container section {
    display: inline-flex;
    width: 28%;
}

#center {
    float: center;
}

#left {
    float: left;
}

#right {
    float: right;
}

article {
    width: 80%;
    padding: 1%;
    color: white;
    margin: 10px auto;
}

#container, .container {
    margin-top: 20vh;

}


#course img {
    width: 280px;
    height: 280px;
    border-radius: 150px;
}

#main img {
    border-radius: 10px;
}

#show img {
    width: 350px;
    height: 350px;
    position:absolute;
    left:50px;
    top:200px;
}

#show input[type=submit] {
    padding:15px 19px;
    background: #1ce562;
    border:0 none;
    cursor:pointer;
    border-radius: 10px;
    position:absolute;
    left:50px;
    top:560px;
    width: 350px;
    font-size: 20px;
    font-family: unset;
    color: white;
}

#course p {
    font-size: 20px;
}

#free {
    color: green;
}

#money{
    color: blue;
}

.sell {
    background-color: rgb(235, 209, 199);
    margin-top: 30px;
    height: 0;
    color: black;
}

#about p {
    font-size: 20px;
    text-align: justify;
}



#course h4 {
    color: black;
}


h2 {
    color: white;
    font-family: 'Lucida Console';
}
.search{
    box-sizing: border-box;
    width: 30%;
    margin-bottom: 16px;
    padding: 8px 16px;
    transition: transform 0.3s ease-out;
    color: #2a43a5;
    border-radius: 8px;
    background-color: #fff;
    font-size: 1em;
}

#black{
    background-color: rgb(20, 14, 29);
    background-repeat: repeat;
    background-size: 40%;
}

#show h2{
    text-align: left;
    color: black;
}

#show h4{
    text-align: left;
}

#auth h4{
    color: black;
}

#description{
    text-align: justify;
    font-family: Arial;
    font-size: 20px;
}

progress {
    border:0;
    width: 300px;
    height: 20px;
    border-radius: 5px;
    background: #f1f1f1;
}
progress::-webkit-progress-bar {
    width: 300px;
    height: 20px;
    border-radius: 5px;
    background: #f1f1f1;
}
progress::-webkit-progress-value {
    border-radius: 5px;
    background: #1ce562;
}
progress::-moz-progress-bar {
    border-radius: 5px;
    background: #1ce562;
}
